body {
    background: #d1fffb;
    font-family: 'Allan', cursive;
    font-size: 50px;
}

#buttonsDisplay {
    position: absolute;
    margin-left: 75px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
    width: 300px;
}

.paperBtn {
    transform: rotate(45deg)
}

.gameBtn {
    width: 200px;
    display: none;
}

.oppImg {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    width: 200px;
    display: block;
    float: right;
}

.rockBtn {
    width: 160px;
}

.oppPaper {
    transform: scaleX(-1) rotate(45deg);
}

.gameBtn:focus {
    outline: none;
}

#log {
    position: absolute;
    margin: 20px;
    transition: transform 20s;
}

#oppArea {
    height: 100vh;
    width: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: right;
}

#oppLog {
    float: right;
    text-align: right;
    padding-right: 20px;
    display: block;
}

#retryBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 65px;
    font-size: 42px;
    border: 1px inset #b7b7b7;
    display: inline-block;
    text-decoration: none;
    border-radius: 10px;
}

#winsLosses {
    position: absolute;
    width: 525px;
    bottom: 0px;
    left: 50%;
    margin-left: -262.5px;
}